<h1>New Discount</h1>
<%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |f| %>
 <p>
    <%= f.label :percentage %>
    <%= f.number_field :percentage, in: 1..99, step: 1 %>
  </p>

  <p>
    <%= f.label :threshold %>
    <%= f.number_field :threshold, in: 1..2000, step: 1 %>
  </p>
  <%= f.submit "Submit"%>
<% end %>